.project
/*/.project
*.log

*.iml
/*/.iml

*.springBeans
/*/.springBeans

.classpath
/*/.classpath

.classpath
.settings
/*/.settings
/*/.settings/*

target
/*/target
/*/target/*

/.idea/*

/src/main/webapp/files/upload/*